{% extends "base.html" %}
{% block title %}Transactions list{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Transactions</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Transaction Type</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Responsible User</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.product.name }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.timestamp }}</td>
                    <td>{{ transaction.responsible_user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
